main{
    background-color: #1A0B2E;
}
header {
    background-color: #1A0B2E;
}

.logo {
    font-size: 1.5rem;
    color: white;
}

.navbar {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.btn-primary {
    padding: 12px 16px;
    border-radius: 18px;
    border: none;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.hamburger {
    display: none;
    width: 30px; /* adjust size */
    height: auto;
    cursor: pointer;
}

/* HERO SECTION */
.hero-container {
    height: calc(100vh - 80px); 
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column; /* column layout */
    justify-content: center; /* vertical centering */
    align-items: center;     /* horizontal centering */
    gap: 40px;               /* space between circle and text */
    text-align: center;
    padding: 0 20px;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.circle {
    width: 100%;
    height: 100%;
    display: block;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}

/* Hero text */
.hero-text h3 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    cursor: pointer;
}

/* podcast style */
.podcast{
    max-width: 1600px;
    margin: 0 auto;

}
.podcast-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.podcast-title{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.podcat-description{
    font-size: 1rem;
    color: white;
     line-height: 1.6;
}
.divider{
    max-width: 1600px;
    height: 1px;
    background-color: white; 
    margin: 40px auto; 
    border: none;
}
.podcast-history{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.podcast-history div{
    text-align: center;
}
.podcast-history h3{
    color: #00FF88;
    font-size: 3rem;
}
.podcast-history p{
    font-size: 1rem;
    color: white;
}

/* media query for small device */
@media screen and (max-width:576px) {  
    .nav-links, .btn-primary{
        display: none;
    }  
    .hamburger{
        display: block;
    }
    .podcast-history{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    
}
