@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body{
    background-color: #1A0B2E;
}
header {
    background-color: #1A0B2E;
}

.brand {
    font-size: 2rem;
    color: white;
}
#wave{
    color: rgb(240, 5, 44);
}

.navbar {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.btn-primary {
    padding: 12px 16px;
    border-radius: 18px;
    border: none;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
}
.hamburger {
    display: none;
    width: 30px; /* adjust size */
    height: auto;
    cursor: pointer;
}

/* hero section */
.hero-container {
    height: calc(100vh - 80px); 
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    gap: 40px;               
    text-align: center;
    padding: 0 20px;
}

.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.circle {
    width: 100%;
    height: 100%;
    display: block;
}

.mic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
}
.badge{
        position: absolute;
        top: 10px;
    right: 10px;             
    background-color: #00FF88;
    color: black; 
    font-weight: bold;
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 50px;
    z-index: 10; 
}
@keyframes orbit360 {
  0% {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}

.mic {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  transform-origin: center center; /* rotate around the circle center */
  animation: orbit360 6s linear infinite;
}

/* I help here from chat gpt */



/* Hero text */
.hero-text h3 {
    font-size: 2.5rem;
    color: white;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}
.banner-btn{
    display: flex;
    justify-content: center;
}

.hero-text .btn-1 {
    padding: 12px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    background: linear-gradient(to right, #F7E93F, #FB09B4, #9100F8);
    color: white;
    cursor: pointer;
}
.hero-text .btn-2{
     padding: 12px 20px;
    margin-right: 10px;
    border-radius: 20px;
    color: #00FF88;
    border: 1px solid white;
    background-color: transparent;
}

/* podcast style */
.podcast{
    max-width: 1600px;
    margin: 0 auto;

}
.podcast-content{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.podcast-title{
    color: white;
    font-size: 3rem;
    font-weight: bold;
}
.podcat-description{
    font-size: 1rem;
    color: white;
     line-height: 1.6;
}
.divider{
    max-width: 1600px;
    height: 1px;
    background-color: white; 
    margin: 40px auto; 
    border: none;
}
.podcast-history{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
}
.podcast-history div{
    text-align: center;
}
.podcast-history h3{
    color: #00FF88;
    font-size: 3rem;
}
.podcast-history p{
    font-size: 1rem;
    color: white;
}

/* features style */
.features-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 60px 20px;
}
.features-title{
    color: white;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 50px;
}
.features-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
.card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    border-radius: 40px;
}
#card-2{
    margin-bottom: 40px;
}
.card h5{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.card p{
    color: white;
    font-size: 1rem;
    line-height: 1.6;
}
/* Featured Episodes style */
.episodes-conatiner{
    max-width: 1600px;
    margin: 0 auto;
}
.episodes-title{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.episodes-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.episode-card{
    background-color: #250D44;
    border-radius: 16px;
    /* padding: 20px; */
}
.episode-card h5{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.episode-card p{
    color: white;
    font-size: 1rem;
    line-height: 1.6;
}
.episode-card button{
    color: #00FF88;
    background-color: transparent;
    border: none;
}
iframe{
    width: 100%;
    height: 210px;
}
.card-inner{
    padding: 20px;
}

/* Host section style */
.host{
    max-width: 1600px;
    margin: 100px auto;
}
.host-title{
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}
.host-container{
    display: flex;
    background-color: rgba(53, 17, 101, 0.4);
    gap: 30px;
    padding: 40px;
    border-radius: 16px;
}

.host-container h3{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}
.host-container p{
    color: white;
    font-size: 1rem;
    line-height: 1.6;
}

.social-icon > img{
    margin-right: 10px;
}

/* footer style */
.footer{
    background-color: #1A0B2E;
}

.footer-container { 
    background-image: url('../assets/footer-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 20px;
    text-align: center;
}

.footer-title {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: white;
}
.footer-icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto 40px auto;
}

.footer-icon div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-icon img {
    width: 50px;
    height: auto;
    margin-bottom: 10px;
}

.footer-container p {
    font-size: 0.9rem;        
    margin: 0;
    letter-spacing: 0.5px;
    color: #FAFAFA;
}



/* media query for small device */
@media screen and (max-width:576px) {  
    .nav-links, .btn-primary{
        display: none;
    }  
    .hamburger{
        display: block;
    }
    .podcast-history{
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
    }
    .features-cards, .episodes-cards{
        grid-template-columns: repeat(1,1fr);
    }
    .host-container{
        flex-direction: column;
        align-items: center;
    }
    .footer-icon{
        grid-template-columns: repeat(2,1fr);
    }
     .hero-container {
        gap: 20px;
        padding: 0 10px;
    }

    .img-container {
        width: 200px;
        height: 200px;
    }

    .mic {
        width: 50px; 
    }

    .badge {
        font-size: 12px;
        padding: 4px 8px;
    }

    
}
